<div class="modal is-active" style="width: 100%">
  <div class="modal-background" @click="close"></div>
  <div class="modal-card" style="width: 50%">
    <div class="modal-card-head  is-inline">
      <h2 class="label">Create new link</h2>
    </div>
    <div class="modal-card-body">
      <div class="field">
        <label class="label row-single" for="url">URL:</label>
        <div class="control">
          <input class="input" type="url" id="url" placeholder="Url input" v-model="nlink.url">
        </div>
      </div>
      <div class="field">
        <label class="label row-single" for="url">OWNER:</label>
        <div class="control">
          <input class="input" type="email" id="owner" placeholder="Input email" v-model="nlink.owner">
        </div>
      </div>
      <div class="data-fields">
        <div class="data-field">
          <label class="label  data-label" for="startDate">START:</label>
          <div class="data-control">
            <input class="input" type="date" id="startDate" v-model="nlink.start.split('T')[0]">
          </div>
        </div>
        <div class="data-field">
          <label class="label data-label margined" for="expiration">EXPIRATION:</label>
          <div class="data-control-right">
            <input class="input right" type="date" id="expiration" v-model="nlink.expiration.split('T')[0]">
          </div>
        </div>
      </div>

    </div>
    <footer class="modal-card-foot is-inline">
      <button v-if="fullfiled" class="button is-success" @click="changeElement">Create</button>
      <button class="button" @click="close">Cancel</button>
    </footer>
  </div>
</div>
